<article class="tease tease--{{post.post_type}}" id="tease-{{post.ID}}">
	{% block content %}
		<h2 class="tease-title"><a href="{{post.link}}">{{post.title}}</a></h2>
		<p class="tease-excerpt">{{post.get_preview}}</p>

		{% if post.get_thumbnail %}
			<img src="{{post.thumbnail.src}}" class="tease-thumb" alt="{{post.thumbnail.alt}}"/>
		{% endif %}
	{% endblock %}
</article>
